/* Reset */
*html,body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes full height */

    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
}

/* تنسيق الهيدر */
header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start; /* يحرك الشعار إلى اليمين بالكامل */
    /* يضع الشعار على اليمين والأزرار على اليسار */
    background-color: black;
    padding: 1rem;
    direction: rtl; /* لتغيير اتجاه العناصر للغة العربية */
}

/* تنسيق الشعار */
.logo img {
    height: 40px;
    position: relative;
    margin-left: auto; /* يدفع الشعار إلى أقصى اليمين */
    right: 9px; /* تحريك الشعار 10 بيكسل إلى اليمين */
    top: 5px;
    margin-right: 100px;
     /* المسافة من اليمين */
    /* تحريك الشعار 5 بيكسل إلى الأسفل */
}


.nav-buttons {
    display: flex; /* يجعل الأزرار في صف */
    margin-right: auto; /* يدفع الأزرار إلى أقصى اليسار */
}





.nav-buttons button {
    position: relative;
    left: 1;
    
    color: rgb(255, 255, 255);
    border: none; /* إزالة الحدود */
    background-color: black;
    padding: 0.89rem 1rem;
    margin: 10px; /* مسافة بين الأزرار */
    margin-left: 0.5em;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.nav-buttons button:hover {
    background-color: gray;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.row.column1 {
    padding-right: 60px;
}

.row.column2 h1 {
    font-size: 60px;
    margin-bottom: 10px; /* Corrected margin syntax */
}

.column1p {
    font-size: 25px; /* Corrected font size syntax */
    margin-bottom: 10px;
}

/* Header content responsive */
@media screen and (max-width: 768px) { /* Added max-width value */
    .column2 img {
        width: 100%; /* Changed to 100% to fit on screen */
        height: auto; /* Ensure aspect ratio is maintained */
    }
    
    .column1 h1 {
        font-size: 40px;
    }

    .column1 p {
        font-size: 17px;
    }

    .row {
        margin-top: 80px;
    }
}
